html, body{
    height: 100%;
  margin: 0;
  background-color: white;
  color: black;
}
#root{
    height: 100%;
    width: 100%;
    background-color: white;


}
.dashboard{
  height: 100%;
}
@media print{
  @page{
    margin: 5mm;
  }
  #header,
  #footer,
  #nav {
    display: none;
  }
  .label{
    height: 100%;
    width: 100%;
  }
  

}

.support-container{ 
  display: none;
    width: 100%;
    height: fit-content;
    background-color: white;
}
.label{
  height: fit-content;
}
.support-container .label{
  width: 50%;
}
.label td{
    display: flex;
}
.label span{
    width: 50%;
    justify-content: space-around;
    border: 1px solid black;
}
